* {
    font-family: "Space Mono", monospace;
    font-weight: bold!important;
    outline: none!important;
}

body {
    background-image: url(./assets/background.png);
    background-repeat: repeat;
    background-position: center;
    background-color: #fff!important;
    /* color: #fff!important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1em;
    padding: 1em 0.5em!important;
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em!important;
}

.drop-down {
    background-color: #fff;
    color: #212121;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.dropdown-menu.show {
    background-color: #fff;
    color: #212121;
    border: 1px solid #212121;
}

.drop-down-options {
    /* background-color: #fff; */
    color: #212121;
    border: 0px;
}

.list {
    width: 8em;
    margin: 0em;
    display: inline-block;
    margin-left: 1em;
}

a,
.list>a {
    color: #212121;
    text-decoration: none!important;
    margin: 0.5em 0.3em!important;
}

.icon {
    margin-right: 0.5em!important;
}

row {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5em 1em!important;
    column-gap: 1em;
}

column {
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
}

.button {
    color: #fff;
    background-color: #212121;
    width: 6em;
    height: 4em;
    border: 0px;
    border-radius: 10px;
    font-size: 0.7em;
}

.button:active {
    background-color: #313131;
}

.center {
    width: 100%;
    text-align: center;
}

.goto {
    color: #fff;
    background-color: #212121;
    padding: 1em;
    border-radius: 10px;
    width: 40vh;
    text-align: center;
}

.start {
    justify-content: right!important;
    height: 100%;
}

.bg {
    width: 7em;
    height: 7em;
    /* background-color: #566181; */
    background-position: center;
    background-size: 100%;
}

.score {
    width: 4em;
    height: 2em;
    padding: 0.3em;
    text-align: center;
    border-radius: 5px;
    color: #212121;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}