* {
    font-family: "Space Mono", monospace;
    font-weight: bold!important;
    outline: none!important;
}

body {
    background-image: url(./assets/background.png);
    background-repeat: repeat;
    background-position: center;
    background-color: #fff!important;
    /* color: #fff!important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1em;
    padding: 1em 0.5em!important;
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0em!important;
}

.drop-down {
    background-color: #fff;
    color: #212121;
    border: 0px;
    padding: 0em;
    margin: 0em;
}

.dropdown-menu.show {
    background-color: #fff;
    color: #212121;
    border: 1px solid #212121;
}

.drop-down-options {
    /* background-color: #fff; */
    color: #212121;
    border: 0px;
}

.list {
    width: 8em;
    margin: 0em;
    display: inline-block;
    margin-left: 1em;
}

a,
.list>a {
    color: #212121;
    text-decoration: none!important;
    margin: 0.5em 0.3em!important;
}

.icon {
    margin-right: 0.5em!important;
}

row {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.5em 1em!important;
    column-gap: 1em;
}

column {
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    row-gap: 1em;
}

.button {
    color: #fff;
    background-color: #212121;
    width: 6em;
    height: 4em;
    border: 0px;
    border-radius: 10px;
    font-size: 0.7em;
}

.button:active {
    background-color: #313131;
}

.center {
    width: 100%;
    text-align: center;
}

.goto {
    color: #fff;
    background-color: #212121;
    padding: 1em;
    border-radius: 10px;
    width: 40vh;
    text-align: center;
}

.start {
    justify-content: right!important;
    height: 100%;
}

.bg {
    width: 7em;
    height: 7em;
    /* background-color: #566181; */
    background-position: center;
    background-size: 100%;
}

.score {
    width: 4em;
    height: 2em;
    padding: 0.3em;
    text-align: center;
    border-radius: 5px;
    color: #212121;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* animations */


/* player animations */

@keyframes rockAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes paperAnimation {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px) rotate(-20deg);
    }
    50% {
        transform: translateY(-30px) rotate(20deg);
    }
    75% {
        transform: translateY(-10px) rotate(-10deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scissorAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* cpu animations */

@keyframes cpuRockAnimation {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes cpuPaperAnimation {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes cpuScissorAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* win animation (cpu choice wins) */

@keyframes animate-win {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* lose animation (player choice loses) */

@keyframes animate-lose {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


/* apply animations */

.player-bg.animate-rock {
    animation: rockAnimation 0.5s ease-in-out;
}

.player-bg.animate-paper {
    animation: paperAnimation 0.5s ease-in-out;
}

.player-bg.animate-scissor {
    animation: scissorAnimation 0.5s ease-in-out;
}

.cpu-bg.animate-rock {
    animation: cpuRockAnimation 0.5s ease-in-out;
}

.cpu-bg.animate-paper {
    animation: cpuPaperAnimation 0.5s ease-in-out;
}

.cpu-bg.animate-scissor {
    animation: cpuScissorAnimation 0.5s ease-in-out;
}

.player-bg.animate-win {
    animation: animate-win 0.5s ease-in-out;
}

.player-bg.animate-lose {
    animation: animate-lose 0.5s ease-in-out;
}

.cpu-bg.animate-win {
    animation: animate-win 0.5s ease-in-out;
}

.cpu-bg.animate-lose {
    animation: animate-lose 0.5s ease-in-out;
}